body{
	text-align: center;

	padding-top: 90px;
	padding-left: 500px;
	background-color:black;
	

}
.header{
	
	height: fit-content;
	width: fit-content;
    color: black;
    background: white;
    padding: 10px;
    text-align: center;
    margin-left: 8%;
    border-color: 7px;
    letter-spacing: 1px;
}

input{
	height: 50px;
	width:50px;

	background-color:#696969;
	color: white;
	border-radius:50%;
	font-size: 20px;
	outline: none;
	outline-offset: none;
}
#inputtext{
	width: 230px;
	border-radius: 0%;
	text-align: right;
}
#special{
	background-color:#ffa319;
}
#clear{
	background-color:#bcbcbc;
	color: black;
}
.calc_form{
	
	justify-content: center;
	align-items: center;
  border: 5px solid;
   border-color: white;
	width: 300px;
	height: 500px;
}
input[type="button"] {
    outline: none; /* Removes default outline */
    outline-offset: none; /* Removes the outline offset */
    border: 2px solid transparent; /* Optional: You can set a border to style the input */
    padding: 10px 10px; /* Optional: Adds padding for better button sizing */
    background-color: dimgray; /* Optional: Set a background color */
    color: white; /* Optional: Set text color */
    cursor: pointer; /* Optional: Adds pointer cursor */
}

input[type="button"]:focus {
    outline: 2px solid #007BFF; /* Custom outline when focused */
    outline-offset: 2px; /* Adds space between button and outline */
    border-color: #007BFF; /* Optional: Matches border color with the outline */
}
